<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>



  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>

  </filter-mapping>

  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.example.test</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.example.userlogin</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>listItems</servlet-name>
    <servlet-class>com.example.listItems</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>listItems</servlet-name>
    <url-pattern>/listItems</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>addItemsToCart</servlet-name>
    <servlet-class>com.example.addItemsToCart</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>addItemsToCart</servlet-name>
    <url-pattern>/addItemsToCart</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>modifyCartItem</servlet-name>
    <servlet-class>com.example.modifyCartItem</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>modifyCartItem</servlet-name>
    <url-pattern>/modifyCartItem</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>cartRemoveItem</servlet-name>
    <servlet-class>com.example.cartRemoveItem</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>cartRemoveItem</servlet-name>
    <url-pattern>/cartRemoveItem</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>cartItems</servlet-name>
    <servlet-class>com.example.cartItems</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>cartItems</servlet-name>
    <url-pattern>/cartItems</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.example.signup</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>cartPrice</servlet-name>
    <servlet-class>com.example.cartPrice</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>cartPrice</servlet-name>
    <url-pattern>/cartPrice</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>com.example.order</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>items</servlet-name>
    <servlet-class>com.example.items</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>items</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>ordered</servlet-name>
    <servlet-class>com.example.ordered</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ordered</servlet-name>
    <url-pattern>/ordered</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>addItem</servlet-name>
    <servlet-class>com.example.addItem</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>addItem</servlet-name>
    <url-pattern>/addItem</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>itemDetails</servlet-name>
    <servlet-class>com.example.itemDetails</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>itemDetails</servlet-name>
    <url-pattern>/itemDetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateItem</servlet-name>
    <servlet-class>com.example.updateItem</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>updateItem</servlet-name>
    <url-pattern>/updateItem</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>deleteItem</servlet-name>
    <servlet-class>com.example.deleteItem</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>deleteItem</servlet-name>
    <url-pattern>/deleteItem</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>orderDetail</servlet-name>
    <servlet-class>com.example.orderDetail</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>orderDetail</servlet-name>
    <url-pattern>/orderDetail</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>allOrders</servlet-name>
    <servlet-class>com.example.allOrders</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>allOrders</servlet-name>
    <url-pattern>/allOrders</url-pattern>
  </servlet-mapping>




</web-app>
